body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.up {
  color: Green;
}

.down {
  color: red;
}

.Name {
  font-size: 6rem;
}

.price {
  font-size: 4rem;
}

.time {
  font-size: 2rem;
  margin: 1rem 0 3rem 0;
}

.container{
  text-align: center;
}
